doctype html
html(lang='en')
  head
    title Jade
    link(rel='stylesheet', type='text/css', href='/stylesheets/createpoll.css')
  body
    form
      h2 Create your own poll
      fieldset.material
        input.question(type='text', placeholder='What’s your favourite programming language?', autocomplete='off', required)
        hr
        label Question

      fieldset.material
        input.answer1(type='text', placeholder='JS', autocomplete='off', required)
        hr
        label Anwser 1

      fieldset.material
        input.answer2(type='text', placeholder='PHP', autocomplete='off' , required)
        hr
        label Anwser 2
      input.btn(type='submit', value='Send Poll')
    script(type='text/javascript' src='/javascripts/primus.js').
    script(type='text/javascript' src='/javascripts/createpoll.js').