* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:  Arial, Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.container {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(to right, rgba(255, 255, 255, .6), rgba(255, 255, 255, .4)), url(../images/bg.jpg);
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header {
	width: 100%;
	background: black;
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
}

header h1 {
	margin: 0;
	letter-spacing: 7px;
}

header p {
	margin: 10px 0 0;
	font-weight: lighter;
	letter-spacing: 5px;
	font-size: 10px;
}

section {
	padding: 40px 0;
	text-align: center;
	opacity: .9;
}

section img {
	width: 250px;
	height: auto;
	margin: 0 auto;
}

footer {
	display: flex;
	flex-wrap: wrap;
}

footer div {
	flex: 1 1 50%;
	border: 1px solid black;
	text-align: center;
	padding: 5px 0;
}

footer div.extra {
	display: none;
}

@media (min-width: 950px) {
	.container {
		padding: 10px;
		width: 900px;
		height: 300px;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
	}

	header {
		padding: 40px 0 25px;
		background: none;
		color: black;
		display: flex;
		flex-direction: column;
		flex: 1 1 60%;
		border: 1px solid black;
		order: 1;
		border-bottom: none;
	}

	header h1 {
		order: 2;
		font-size: 72px;
		letter-spacing: .2em;
	}

	header p {
		order: 1;
		margin: 0 0 10px;
		font-size: 12px;
		letter-spacing: .3em;
	}

	section {
		padding: 0;
		border: 1px solid black;
		display: flex;
		flex: 1 1 20%;
		order: 2;
		margin-left: -1px;
	}

	section img {
		width: 275px;
		height: 275px;
	}

	footer {
		flex-direction: row;
		width: 68.6%;
		margin-top: -107px;
		order: 3;
		align-self: flex-start;
		justify-content: flex-end;
	}

	footer div {
		font-size: 22px;
		letter-spacing: .2em;
		flex: 1 1 33.333333%;
		padding: 15px 0;
	}

	footer div.date {
		border-right: none;
	}

	footer div p {
		text-align: center;
		width: 100%;
	}

	footer div:nth-child(3) {
		margin: 0 0 0 -1px;
	}

	footer div.extra {
		display: inherit;
		margin-top: -1px;
		font-size: 14px;
		letter-spacing: .1em;
	}
}